[submodule "external/fluidsynth"]
	path = external/fluidsynth
	url = https://github.com/fluidsynth/fluidsynth.git
[submodule "external/JNAerator"]
	path = external/JNAerator
	url = https://github.com/bithatch/JNAerator.git
